@import url("https://fonts.googleapis.com/css2? familia= Montserrat:peso@300;400;500;600;700;800 &familia= Poppins:peso@300;400;500;600;700;800 & display=swap");

:root {
  /* bg colors */
  --background: #232325;
  --primary: #1343c7;
  --secondary: #34343a;
  --nav-bar: #3685cf;
  --bg-azul-10: #faf6f6;
  --bg-white: #ffffff;
  --bg-electric: #f0f0f0;

  /* text colors */

  --text-gray: #adabab;
  --text-white: #f3e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
}

.logo {
  height: 60px;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 40px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 20px;
}

.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}

/* main */

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

#hero {
  margin-top: 70px;
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  max-width: 500px;
  font-weight: 600;
  color: var(--text-white);
}

.hero-info p {
  font-size: 18px;
  width: 400px;
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
}

.hero-info a {
  color: var(--text-white);
  background-color: var(--primary);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}

.hero-card {
  width: 700px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.hero-card-top h3 {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-bottom {
  display: flex;
  justify-content: flex-start;
}

.hero-card-game {
  display: flex;
  align-items: center;
  gap: 5px;
}

.game-info p:first-child,
.hero-card-price p {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 400;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-card-price span,
.game-info p:last-child {
  font-size: 14px;
}

.hero-card-price span {
  font-weight: 800;
}

/* info */

#info {
  padding: 100px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-gray);
}

/* discover  */

#discover {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#discover h2 {
  font-size: 32px;
  font-weight: 800;
}

#discover p {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-gray);
}

.discover-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.discover-card {
  width: 300px;
  height: 280px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
  gap: 20px;
}

.discover-card img {
  width: 65px;
}

.discover-card h3 {
  font-size: 14px;
  font-weight: 800;
}

.discover-card p {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-gray);
}

footer {
  background: var(--background);
  color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0px;
}

footer a {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-white);
}

footer img {
  width: 150px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
